.player-list {
	text-align: center;
}

.player-list ul {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.guest {
	border: 3px solid var(--black);
	width: 341px;
	height: 70px;
	margin: auto;
	list-style-type: none;
	background-color: var(--grey);
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
	color: #FFF;
	font-size: 24px;
	padding-top: 1rem;
}

.submit-button {
	margin-top: 32px;
	text-align: center;
}
