* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: #1900d8;
	--secondary: #e3170a;
	--secondary-light: #e4572e;
	--gold: #bfab25;
	--black: #080f0f;
	--grey: #9aa0a8;
}

body {
	background-color: var(--primary);
}

h1 {
	color: var(--secondary);
	-webkit-text-stroke: 1px black;
	font-size: 88px;
	font-family: "Rubik Mono One", serif;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-family: "Roboto", serif;
	color: #fff;
	font-weight: bold;
	font-size: 32px;
}

h3 {
	font-family: "Roboto", serif;
	color: #fff;
	font-weight: normal;
	font-size: 24px;
}

p {
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	font-size: 24px;
}
